# ========================================
# AI Content Generation Automator - Config
# ========================================

GROQ_API_KEY=sorry api key is not available

# Email Settings (SendGrid)
# Get from: https://sendgrid.com (free tier available)
SENDGRID_API_KEY=SG.2w
SENDER_EMAIL=nirnayakhadka17@gmail.com
REVIEWER_EMAIL=nirnayakhadka17@gmail.com

# HeyGen Video API (for video generation)
# Get from: https://app.heygen.com/settings?nav=API
# HEYGEN_API_KEY=sk_V2
# HEYGEN_VOICE_ID=ej5P
DID_API_KEY=bmly

# App Settings


APP_URL=http://localhost:8000
SECRET_TOKEN=i9reggdsjibdsnj

# Target Website
TARGET_URL=https://leftclicktech.ai/service/
